@inherits Glass.Mapper.Umb.Web.Ui.GlassTemplatePage<Glass.Mapper.Sites.Umb.Models.Landing.EventsLanding>
@{
    Layout = "BaseLayout.cshtml";
}
<div class="page-header">
    <h1>@Model.Title<small></small></h1>
</div>
@Html.Raw(Model.MainBody)
<ul class="thumbnails">
    @foreach (var evnt in Model.Events.OrderBy(x=>x.Start))
    {
    <li>
        <div class="span1"></div>
        <div class="span7">
            <div class="row">
                <div class="span5">
                    <h3><a href="@Umbraco.NiceUrl(evnt.Id)">@evnt.Title</a></h3>
                </div>
                <div class="span2">
                    <p>Start: @evnt.Start.ToString("dd MMM yyyy")</p>
                    <p>End: @evnt.End.ToString("dd MMM yyyy")</p>
                </div>
            </div>
            <div class="row">
                <p  class="span7">
                    @evnt.Abstract
                </p>
            </div>
            <div class="row">
                <div class="span7">
                    <a title="@evnt.Title" class="pull-right" href="@Umbraco.NiceUrl(evnt.Id)">Find Out More</a>
                </div>
            </div>

        </div>
        <div class="span1"></div>
    </li>
    }
</ul>
