@inherits Glass.Mapper.Umb.Web.Ui.GlassTemplatePage<Glass.Mapper.Sites.Umb.Models.Content.Event>
@{
    Layout = "BaseLayout.cshtml";
}
<div class="page-header">
    <h1>@Model.Title 
        <small>
            From @Model.Start.ToString("dd MMM yyyy")
            to @Model.End.ToString("dd MMM yyyy")
        </small>

    </h1>
</div>
<p class="well">
    Location: @Model.Location
</p>
@Html.Raw(Model.MainBody)
