@inherits Glass.Mapper.Umb.Web.Ui.GlassTemplatePage<Glass.Mapper.Sites.Umb.Models.Landing.HomePage>
@{
    Layout = "BaseLayout.cshtml";
}
<div class="hero-unit">
    <h1 style="color: #@Model.HeroColour">@Model.Title</h1>
    @Html.Raw(Model.MainBody)
</div>

<div class="span6">
    <h3>Featured News</h3>
    <ul class="thumbnails">
        @foreach (var news in Model.NewsLanding.Articles.Take(Model.NewsArticlesToShow))
        {
        <li>
            <div class="thumbnail">
                @if (news.FeaturedImage != null)
                {
                    <img src="@news.FeaturedImage.Src"  />
                }
                <h4>
                    <a href="@Umbraco.NiceUrl(news.Id)">
                        @news.Title
                    </a>
                </h4>
                <p>@news.Abstract</p>
            </div>
        </li>
        }
    </ul>
</div>
