@inherits Glass.Mapper.Umb.Web.Ui.GlassTemplatePage<Glass.Mapper.Sites.Umb.Models.Content.NewsArticle>
@{
    Layout = "BaseLayout.cshtml";
}
<div class="page-header">
    <h1>@Model.Title <small>Date: @Model.Date.ToString("dd MMM yyyy")</small></h1>
</div>
@if (Model.ShowImage && Model.FeaturedImage != null)
{
    <img src="@Model.FeaturedImage.Src"  />
}
@Html.Raw(Model.MainBody)
@if (Model.Document != null)
{
    <div><a href="@Model.Document.Src">@Model.Document.Name</a></div>
}
<strong>by @Model.Creator</strong>
<h3>Tags</h3>
<ul>
@foreach (var tag in Model.Tags)
{
    <li>@tag</li>
}
</ul>