@inherits Glass.Mapper.Umb.Web.Ui.GlassTemplatePage<Glass.Mapper.Sites.Umb.Models.Misc.MetaData>
<title>@Model.Title</title>
<meta runatname="updated" content="@Model.UpdateDate" />
<link rel="canonical" href="@Umbraco.NiceUrl(Model.Id)" />
@if (Model.Parent != null)
{
    <link rel="prev" href="@Umbraco.NiceUrl(Model.Parent.Id)" />
}
@foreach (var child in Model.Children)
{
<link rel="next" href="@Umbraco.NiceUrl(child.Id)"/>
}